<div *ngIf="todoListIsSuccess$ | async">
  <div *ngIf="todoListIsLoaded$ | async; else displayTasks">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #displayTasks>
    <button mat-raised-button color="primary" (click)="showFormAddTask()" *ngIf="hideFormAddTask; else viewAddTask">Add Task</button>

    <ng-template #viewAddTask>
      <app-add-task (eventEmitterTask)="addTask($event)"></app-add-task>
    </ng-template>

    <table id="tasks">
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Detail</th>
      </tr>
      <tr *ngFor="let todo of todoList$ | async; trackBy: trackByFn">
        <td>
          <mat-checkbox [checked]="todo.done" (change)="toggleStatus(todo)">
            {{ getTaskStatus(todo.done) }}
          </mat-checkbox>
        </td>
        <td [ngClass]="{ 'strikethrough': todo.done }">{{todo.title}}</td>
        <td>
          <a routerLink="task/{{todo.id}}">
            Detail
          </a>
        </td>
      </tr>
    </table>

    <h4>Tasks: {{ (todoList$ | async).length }}</h4>
  </ng-template>
</div>
