<div *ngIf="statusTask$ | async">
  <div *ngIf="loadingTask$ | async; else displayTask">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #displayTask>
    <a routerLink="/todo-list">Home</a>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ (task$ | async)?.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Description:</h3>
        <p>{{ (task$ | async)?.description }}</p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
