<a routerLink="/todo-list">Home</a>
<div *ngIf="(task$ | async)?.success">
  <div *ngIf="(task$ | async)?.loading; else displayTask">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #displayTask>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ (task$ | async)?.task?.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Description:</h3>
        <p>{{ (task$ | async)?.task?.description }}</p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
